body {
    background-color: #ED9816;
}

#title {

    font-family: "Press Start 2P";
    font-size: xx-large;
}

label, #envoyer {
    font-family: 'Press Start 2P';
    font-size: small;
}

#contact_image, #formulaire, #image_lion{
    position: relative;
    max-width: 500px;
    display: inline-block;
    vertical-align: middle;
}


#contact_image, #image_lion{
    margin-left: 8%;
}

#formulaire{
    margin-left: 20%;
}