.navbar {
    background-color: #F7A41B;
    overflow: hidden;
    border-style: solid;
    border-color: black;
}

.navbar a {
    font-family: 'Press Start 2P';
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
    border-style: outset;
}

body {
    background-color: #ED9816;
}


#button, #register, {
    font-family: "Press Start 2P";
    display: inline-block;
}

#form1 {
    font-family: "Press Start 2P";
}

#title1  {
    font-family: "Press Start 2P";
    font-size: x-large;
}